useDynLib(BART.sp, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "dist", "lm", "qchisq", "quantile", "sd")
importFrom("assertthat", "assert_that")
importFrom("dplyr", "left_join", "select")
importFrom("Matrix", "invPerm")
importFrom("fields", "rdist.earth")
importFrom("fastDummies", "dummy_columns")
export("wbart_sp")
S3method(predict, wbart_sp)
